//variables de colores
$bone: #F5F0E8;
$black:#1A1A1A;
$link-active: #CDA66D;
$gray-light: #E0DCD3;
$gray-dark: #4A4A4A;

//reset basico
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bone;
    color: $black;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}


//responsive desing
// Móviles (pantallas menores a 768px)
@media (max-width: 768px) {
  .container {
    padding: 1rem 1rem;
  }
  
  body {
    font-size: 14px; // texto ligeramente más pequeño pero legible
  }
}

// Tablets (entre 768px y 1024px)
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
}